@font-face {
    font-family: "Garamond";
    font-weight: normal;
    src: url("fonts/EBGaramond-Regular.ttf");
  }  

@font-face {
    font-family: "Garamond";
    font-weight: bold;
    src: url("fonts/EBGaramond-Bold.ttf");
}

body {
    color: #564742;
    background: #FFF;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Garamond', serif;
    font-size: 23px;
}

h1 { 
    color: #C83E4D;
    font-size: 3em;
    font-weight: bold;
    margin: 90px 0px 90px 0px;
}

h2 {
    padding: 30px 0px 15px 0px;
    box-shadow: 0px 5px 0px 0px #564742;
    text-transform: uppercase;
}

ul {
    list-style-type: square;
}

.article-date {
    color: #936167;
    font-size: .7em;
    text-transform: uppercase;
    
}

.container {
    max-width: 700px;
    margin: 0px auto;
}

.wrap {
    position: relative;
    background: #FFF0EE;
}
.wrap a {
    text-decoration: underline;
    color: #C83E4D;
}
.wrap a:hover {
    color: #3A1015;
}

.footer { 
    height: 30px;
}

pre {
    overflow-x: scroll;
    padding: 10px;
}
.highlight { border-radius: 10px !important;}

.header {
    width: 100%;
    top: 0px;
    background: #FFF;
    height: 30px;
}

.article, .main {
    padding: 15px 15px 115px 15px;
}