body {
    background: #FFF;
    color: #000;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 800px;
    margin: 0px auto;
}

.wrap {
    top: 100px;
    position: relative;
}
.header {
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 0px 0px #000;
}

.nav { }
.nav--header {}
.list { list-style-type: none;}
.list--nav {}
.item { 
    display: inline; 
    box-shadow: 0px 0px 0px 4px #000;
    padding: 5px;
    margin: 10px;
}
.item a { text-decoration: none; color: #000;}
.item--nav {}
.item--current {}