body {
    color: #000;
    background: #EEE;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    font-size: 20px;
}

.container {
    max-width: 600px;
    margin: 0px auto;
}

.wrap {
    top: 100px;
    position: relative;
}

pre {
    overflow-x: scroll;
    padding: 10px;
}
.highlight { border-radius: 10px !important;}

.header {
    z-index: 900;
    width: 100%;
    top: 0px;
}

.article, .main {
    padding: 15px 15px 15px 15px;
    border-radius: 8px;
}

.nav { }

.nav--header {}

.list { 
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
}

.list--nav {}

.item { 
    display: inline-block; 
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 0px;
    background: #ecff66;
    color: #000;
}

.item a { text-decoration: none; color: inherit;}
.item--nav {}
.item--current { color: rgb(0, 0, 0);}