<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
    <title>{{ page.title }}</title>
</head>

<body>
    {% include header.html %}

    <div class="wrap">
        <div class="container">
            <article class="article">
                <span class="article-date">{{ page.date | date: "%-d %B %Y" }}</span>
                {{ content }}
            </article>
        </div>
    </div>
</body>
</html>


